body {
    background-image:repeating-linear-gradient(rebeccapurple, gold);
    color: white;
    margin: 1px;
    border: white 5px;
}
header,footer {
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}
h1 {
    font-family:'Courier New', Courier, monospace;
    font-weight:5rem;
    justify-content: center;
    text-align: center;
    margin-top:400px;
}
.hi {
    border-color: red;
    border: 1px;
    border-radius: 2px;
}
.Box {
    display: flex;
    background:linear-gradient(65deg ,whitesmoke, rebeccapurple);
    justify-content:center;
    text-align: center;
    margin: 10px;
    opacity: 0.5;
    border: 10px;
    height: auto;
    width:auto;
    border-color:red;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
p {
    font-size: 1.5rem;
    color: black;
    text-align: center;
    padding:50px
}